<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit course page</title>
</head>
<body>
    <h1>Редактирование: {{ course.title }}</h1>
    <h3>Описание: {{ course.description }}</h3>
        {% if form.errors %}
          <p>{{ form.errors }}</p>
        {% endif %}
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" name="course_form">Save</button>
    </form>
    {% if lectures %}
        {% for lecture in lectures %}
          {{ lecture.title }}
        {% empty %}
          <p>No lectures have been added yet.</p>
        {% endfor %}
    {% endif %}
    {% if lecture_form.errors %}
      <p>{{ lecture_form.errors }}</p>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ lecture_form.as_p }}
      <button type="submit" name="lecture_form">Добавить лекцию</button>
    </form>
</body>
</html>